@media screen and (min-width: 0px) and (max-width: 1024px) {
	body {
		background: #E2EFF1;
	}
	.index {
		width: 100%;
		height: 70%;
		left: 0;
		top: 30%;
		background: #E2EFF1;
	}
	.year {
		z-index: 1;
		position: absolute;
		margin: 0;
		top: 70%;
		text-align: center;
		width: 100%;
		font-size: 200pt;
	}
	.side {
		z-index: 1;
		width: 100%;
		margin: 0;
		top: 5%;
		left: 0;
		text-align: center;
		font-size: 50pt;
	}
	.side p {
		z-index: 1;
		position: absolute;
		position: fixed;
		top: auto;
		bottom: 5%;
		left: 5%;
		width: 80%;
		text-align: right;
		font-size: 12pt;
	}
	.side_0 {
		z-index: 1;
		opacity: 1;
		margin: 0;
		width: 80%;
		height: auto;
		position: absolute;
		top: auto;
		bottom: 5%;
		left: 10%;
		position: fixed;
		text-align: left;
		font-size: 80pt;
	}
	.side_0 p {
		z-index: 1;
		position: relative;
		margin: 10% 0 0 0;
		font-size: 12pt;
		padding: 0%;
		width: 80%;
		text-align: left;
		column-count: 1;
		float: left;
	}
	.image {
		z-index: 1;
		position: absolute;
		margin: 0;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		text-align: right;
		opacity: 0;
	}
	.image img {
		z-index: 1;
		margin: 0;
		top: 15%;
		width: 65%;
		left: 0;
		box-shadow: none;
	}
	.image_0 img {
		z-index: 1;
		width: 100%;
		top: 0;
		left: 0;
		box-shadow: none;
	}
	.image_0 {
		z-index: 1;
		position: absolute;
		width: 120%;
		opacity: 1;
	}
	.img_bg {
		z-index: -1;
		width: 110%;
		height: 40%;
		background-position: center top;
	}
	.count {
		right: 5%;
		top: 20%;
	}
	.count span {
		font-size: 60pt;
	}
	.next, .last {
		z-index: 2;
		bottom: 40%;
		left: auto;
		right: 5%;
	}
	.last {
		bottom: 45%;
	}
	.mute {
		z-index: 9;
		left: auto;
		right: 5%;
		top: 40%;
	}
}
@media screen and (min-width: 0px) and (max-width: 640px) {
	.count {
		font-size: 18pt;
		letter-spacing: 5px;
	}
	.count span {
		font-size: 44pt;
	}
	.year {
		font-size: 150pt;
	}
	.side {
		font-size: 36pt;
	}
	.side_0 {
		font-size: 50pt;
	}
	.side p {
		font-size: 10pt;
	}
	.side_0 p {
	}
	.image {
		z-index: 1;
		position: absolute;
		margin: 0;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		opacity: 0;
	}
	.image img {
		z-index: 1;
		margin: 0;
		top: 15%;
		width: 75%;
		left: 0;
		box-shadow: none;
	}
	.image_0 img {
		z-index: 1;
		width: 100%;
		top: 0;
		left: 10%;
		box-shadow: none;
	}
	.image_0 {
		z-index: 1;
		position: absolute;
		width: 150%;
		opacity: 1;
	}
}