@media screen and (min-width: 0px) and (max-width: 1024px) {
	body {
		background: #E2EFF1;
	}
	.index {
		width: 100%;
		height: 70%;
		left: 0;
		top: 30%;
		background: #E2EFF1;
	}
	.year {
		z-index: 1;
		margin: 0;
		top: 70%;
		text-align: center;
		width: 100%;
		font-size: 200pt;
	}
	.side {
		z-index: 1;
		width: 100%;
		margin: 0;
		top: 5%;
		left: 0;
		text-align: center;
		font-size: 50pt;
	}
	.side p {
		z-index: 1;
		position: absolute;
		position: fixed;
		top: auto;
		bottom: 5%;
		left: 5%;
		width: 80%;
		text-align: right;
		font-size: 12pt;
	}
	.side_0 {
		z-index: 1;
		opacity: 1;
		margin: 0;
		width: 80%;
		height: auto;
		position: absolute;
		top: auto;
		bottom: 5%;
		left: 10%;
		position: fixed;
		text-align: left;
		font-size: 80pt;
	}
	.side_0 p {
		z-index: 1;
		position: relative;
		margin: 10% 0 0 0;
		font-size: 12pt;
		padding: 0%;
		width: 80%;
		text-align: left;
		column-count: 1;
		float: left;
	}
	.image {
		z-index: 1;
		position: absolute;
		margin: 0;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		text-align: right;
		opacity: 0;
	}
	.image img {
		z-index: 1;
		margin: 0;
		top: 15%;
		width: 65%;
		left: 0;
		box-shadow: none;
	}
	.image_0 img {
		z-index: 1;
		width: 100%;
		top: 0;
		left: 0;
		box-shadow: none;
	}
	.image_0 {
		z-index: 1;
		position: absolute;
		width: 120%;
		opacity: 1;
	}
	.img_bg {
		display: none;
	}
	.count {
		right: 5%;
		top: 20%;
	}
	.count span {
		font-size: 60pt;
	}
	.next, .last {
		z-index: 2;
		bottom: 40%;
		left: auto;
		right: 5%;
	}
	.last {
		bottom: 45%;
	}
	.mute {
		z-index: 9;
		left: auto;
		right: 5%;
		top: 40%;
	}
}
@media screen and (min-width: 0px) and (max-width: 640px) {
	.count {
		opacity: 0;
		z-index: 2;
		top: 50%;
		left: auto;
		right: 80%;
		font-size: 18pt;
		letter-spacing: 5px;
	}
	.count span {
		font-size: 44pt;
	}
	.next, .last {
		z-index: 2;
		bottom: 3%;
		left: auto;
		right: 10%;
	}
	.next {
		border-right: 0;
		border-top: 8px solid transparent;
		border-left: 15px solid #2CA4BF;
		border-bottom: 8px solid transparent;
	}
	.last {
		right: auto;
		left: 10%;
		border-left: 0;
		border-bottom: 8px solid transparent;
		border-top: 8px solid transparent;
		border-right: 15px solid #2CA4BF;
	}
	.next:hover {
		border-top: 8px solid transparent;
		border-left: 15px solid #1A8B9D;
	}
	.last:hover {
		border-bottom: 8px solid transparent;
		border-right: 15px solid #1A8B9D;
	}
	.mute {
		z-index: 9;
		margin: auto;
		left: 0;
		right: 0;
		top: auto;
		bottom: 3%;
		width: 8px;
		height: 30px;
		border-top: 0 solid transparent;
		border-bottom: 0 solid transparent;
		border-left: 8px solid #2CA4BF;
		border-right: 8px solid #2CA4BF;
	}
	@keyframes play {
		0% {
		width: 0;
		height: 0;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		border-left: 24px solid #2CA4BF;
		border-right: 0;
		}
		33% {
		width: 0;
		height: 0;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		border-left: 12px solid #2CA4BF;
		border-right: 12px solid #2CA4BF;
		}
		66% {
		width: 0;
		height: 30px;
		border-top: 0 solid transparent;
		border-bottom: 0 solid transparent;
		border-left: 12px solid #2CA4BF;
		border-right: 12px solid #2CA4BF;
		}
		100% {
		width: 8px;
		height: 30px;
		border-top: 0 solid transparent;
		border-bottom: 0 solid transparent;
		border-left: 8px solid #2CA4BF;
		border-right: 8px solid #2CA4BF;
		}
	}
	@keyframes pause {
		0% {
		width: 8px;
		height: 30px;
		border-top: 0 solid transparent;
		border-bottom: 0 solid transparent;
		border-left: 8px solid #2CA4BF;
		border-right: 8px solid #2CA4BF;
		}
		33% {
		width: 0;
		height: 30px;
		border-top: 0 solid transparent;
		border-bottom: 0 solid transparent;
		border-left: 12px solid #2CA4BF;
		border-right: 12px solid #2CA4BF;
		}
		66% {
		width: 0;
		height: 0;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		border-left: 12px solid #2CA4BF;
		border-right: 12px solid #2CA4BF;
		}
		100% {
		width: 0;
		height: 0;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		border-left: 24px solid #2CA4BF;
		border-right: 0;
		}
	}
	.year {
		font-size: 150pt;
	}
	.side {
		z-index: 2;
		width: 40%;
		margin: 0;
		height: auto;
		top: auto;
		bottom: 15%;
		left: 5%;
		text-align: left;
		font-size: 48pt;
	}
	.side_0 {
		z-index: 1;
		opacity: 1;
		margin: 0;
		width: 100%;
		height: auto;
		position: absolute;
		top: auto;
		bottom: 15%;
		left: 10%;
		position: fixed;
		text-align: left;
		font-size: 44pt;
	}
	.side p {
		width: 70%;
		left: auto;
		right: 5%;
		bottom: 10%;
		column-count: 1;
		font-size: 10pt;
	}
	.side_0 p {
		left: 0%;
		width: 80%;
	}
	.image {
		z-index: 1;
		position: absolute;
		margin: 0;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		opacity: 0;
	}
	.image img {
		-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
		z-index: 1;
		margin: 0;
		top: 0;
		width: 100%;
		left: 0;
		box-shadow: none;
	}
	.image_0 img {
		width: 100%;
		box-shadow: none;
	}
	.image_0 {
		z-index: 1;
		position: absolute;
		width: 100%;
		opacity: 1;
	}
	
}
